name: lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      
      - name: Setup Turborepo caching
        uses: rharkor/caching-for-turbo@v2.2.1
      - name: Install dependencies with Bun
        run: bun install

      - name: Running lint
        run: bun run lint
